{% extends 'home.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size:20px;
        }
        h1 {
            margin-bottom: 20px;
            margin-top:50px;
        }
        p {
            line-height: 1.6;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <div class="container" style="text-align: center; width: 80%;">
        <h1>Contact Us</h1>
        <p>For any inquiries or support, please feel free to reach out to us via the following methods:</p>
        <p>Email: luminous81solo@gmail.com</p>
        <p>Phone: +91 8056943137</p>
        <p>Address: Aroma Nation 1603, Tirunelveli</p>
        <p>Instagram: <a href="https://www.instagram.com/jord_weather/" target="_blank">insta/jordweather</a></p>
        <p>Facebook: <a href="https://www.facebook.com/profile.php?id=61553955955661" target="_blank">fb/jordweather</a></p>
    </div>
</body>
</html>
{% endblock %}