{% extends 'home.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            line-height: 1.6;
        }
        h2 {
            margin-top: 30px;
        }
        p {
            margin-bottom: 15px;
            font-size:18px;
        }
    </style>
</head>
<body>
    <div class="container" style="  max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #bd2d2d;
    border-radius: 8px;">
        <h1 style="text-align: center; margin-bottom: 20px;">Terms of Service</h1>
        <p>
            Welcome to JordWeather! These terms and conditions outline the rules and regulations for the use of our application.
        </p>
        <h2>1. Acceptance of Terms</h2>
        <p>
            By accessing this website, you agree to be bound by these terms of service, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws.
        </p>
        <h2>2. Use License</h2>
        <p>
            Permission is granted to temporarily download one copy of the materials provided by JordWeather for personal, non-commercial transitory viewing only.
        </p>
        <h2>3. Disclaimer</h2>
        <p>
            The materials provided by JordWeather are on an 'as is' basis. We make no warranties, expressed or implied.
        </p>
        <h2>4. Governing Law</h2>
        <p>
            These terms and conditions are governed by and construed in accordance with the laws of your jurisdiction.
        </p>
        <h2>5. Changes to Terms</h2>
        <p>
            JordWeather reserves the right to revise these terms of service at any time without prior notice. By using this website, you are agreeing to be bound by the current version of these terms of service.
        </p>
        <p>
            Last updated: [19-11-2023]
        </p>
    </div>
</body>
</html>

{% endblock %}